* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgba(222, 222, 222, 0.056);

}

.div-header {
    line-height: 2;
    background-color: white;
    margin-bottom: 40px;
}

#img-logo {
    vertical-align: middle;
    background-color: white;

}

#toboolist {
    vertical-align: middle;
    font-size: 30px;
    font-weight: bolder;
    background-color: white;

}


.container-button {
    height: 40px;
    width: 600px;
    background-color: white;
    margin: 0 auto;
    max-width: 991px;
    border-radius: 3px;
}

#button1 {
    background-color: rgb(30, 146, 255);
    color: white;
    border-radius: 4px;
    margin-left: 40px;
    margin-top: 10px;
    font-size: 10px;
    padding: 5px;

}

#button2 {
    background-color: white;
    color: rgb(191, 191, 191);
    border-radius: 4px;
    margin-top: 10px;
    font-size: 10px;
    padding: 5px;
}

.container-table {
    background-color: white;
    margin: 3px auto 0;
    height: 400px;
    width: 600px;
}

li {
    background-color: white;
}

.list {
    margin-left: 50px;
    background-color: white;
}

.title {
    background-color: white;
    font-weight: bolder;
    display: inline-block;
}

li {
    margin-bottom: 20px;
    list-style-type: none
}

.first-list {
    list-style-type: none;
    display: inline-block;
}

.containedcolored {
    display: inline-block;
    
    border-radius: 10px;
    border: 0px solid black;
    padding: 5px;
    font-size: 10px;
    color: white;

}

.editorial {
    background-color: skyblue;
}

.viola {
    background-color: blueviolet;
}

.verde {
    background-color: forestgreen;
}

.arancio {
    background-color: chocolate;
}

.rosa {
    background-color: pink;
}

.verdepis {
    background-color: chartreuse;
}